absl-py==1.4.0
accelerate==0.20.3
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
bitsandbytes==0.39.1
bs4==0.0.1
bson==0.5.10
cachetools==5.3.1
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
datasets==2.13.1
deepspeed==0.9.5
diffusers @ git+https://github.com/huggingface/diffusers@78922ed7c7e66c20aa95159c7b7a6057ba7d590d
dill==0.3.6
docker-pycreds==0.4.0
dominate==2.8.0
exceptiongroup==1.1.2
fairscale==0.4.13
fastapi==0.99.1
ffmpy==0.3.0
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.21.0
google-auth-oauthlib==1.0.0
gradio==3.35.2
gradio_client==0.2.7
grpcio==1.56.2
h11==0.14.0
hjson==3.1.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==5.12.0
joblib==1.3.1
jsonschema==4.17.3
kiwisolver==1.4.4
linkify-it-py==2.0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mmcls==0.25.0
mmcv-full==1.6.0
mmdet==2.25.2
mmsegmentation==1.0.0
mmselfsup==0.9.0
model-index==0.1.11
modules==1.0.0
multidict==6.0.4
multiprocess==0.70.14
ninja==1.11.1
numpy==1.25.1
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.7.0.72
openmim==0.3.7
ordered-set==4.1.0
orjson==3.9.1
packaging==23.1
pandas==2.0.2
pathtools==0.1.2
Pillow==10.0.0
platformdirs==3.8.0
prettytable==3.8.0
protobuf==3.20.0
psutil==5.9.5
py-cpuinfo==9.0.0
py-spy==0.3.14
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
pydantic==1.10.10
pydub==0.25.1
Pygments==2.15.1
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.0
semantic-version==2.10.0
sentry-sdk==1.28.1
setproctitle==1.3.2
shapely==2.0.1
six==1.16.0
sklearn==0.0.post7
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
starlette==0.27.0
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.1
termcolor==2.3.0
terminaltables==3.1.10
threadpoolctl==3.2.0
timm==0.9.2
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==1.10.0
torchvision==0.11.1
tqdm==4.65.0
transformers==4.27.4
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.16
uvicorn==0.22.0
wandb==0.15.5
websockets==11.0.3
Werkzeug==2.3.6
xxhash==3.2.0
yapf==0.40.1
yarl==1.9.2
zipp==3.16.2
